<div class="navbar-wrapper">
  <div class="container">
    <nav class="navbar navbar-default navbar-static-bottom" role="navigation" style="height: 250px">
      <div class="row">
        <div class="col-md-8">
          <h2>FoosNet is Awesome</h2>
        </div>
        <div class="col-md-2">
          <img src="facebook-blue.svg" style="height: 50px; width: 40">
        </div>
        <div class="col-md-2">
          <img src="twitter-blue.svg" style="height: 50px; width: 40">
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p>Recent Matches</p>
        </div>
        <div class="col-md-2">
          <p>Your Leagues</p>
        </div>
        <div class="col-md-2">
          <p>Top Users</p>
        </div>
        <div class="col-md-2">
          <p>Tournaments</p>
        </div>
        <div class="col-md-4">

        </div>
      </div>
    </nav>
  </div>
</div>
