<div class="navbar-wrapper" ng-controller="NavigationController as controller">

  <div class="container">
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">FoosNet</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

          <ul class="nav navbar-nav navbar-left">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <ul class ="nav navbar-nav navbar-right">
            <li ng-if="user">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <img class="img-rounded" style="width: 18px; height: 18px" ng-src="{{user._json.picture}}"/>
                  {{user.displayName}}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
            <li ng-if="!user">
                <a class="btn btn-block btn-social btn-google-plus" color="#DD4B39" href="/auth/google">
                <i class="fa fa-google-plus"></i>Sign In with Google</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" ng-if="user">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <img class="img-circle" ng-href="{{user._json.picture}}" />
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
            <li ng-if="!user">
              <a class="btn btn-danger" href="/auth/google" role="button">Sign In with Google</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
